mixin productItem(itemType, imgSrc, itemName, itemPrice, itemOldPrice)
	li(class="product__item col col-12 col-sm-6 col-lg-3")&attributes(attributes)
		.product__item-wrap
			.border-right 
			.border-left
			.product__item-thumbnail.position-relative
				if (itemType)
					case itemType
						when "hot"
							+hotLabel
						when "new"
							+newLabel
						default
							+saleLabel
				a.item-link.d-block(href="product-detail.html")
					img(class="item-img" src=imgSrc alt=itemName)
				.item-option
					a(href="javacript:void(0)")
						i(class="fas fa-heart")
						span Yêu thích 
					a(href="javacript:void(0)")
						i(class="far fa-chart-bar")
						span So sánh 
					a(href="javacript:void(0)")
						i(class="fas fa-compress-alt")
			.product__item-info
				a.item-name(href="product-detail.html")= itemName
				div 
					span.item-price= itemPrice
					span.item-old-price= itemOldPrice
			.product__addto-cart 
				+addCartBtn

mixin listProduct(list)
	ul(class="row g-5")&attributes(attributes)
		each val in list 
			+productItem(val.type, val.img, val.name, val.price, val.oldPrice)

mixin productsSection({ list, title })
	h2= title
	div.decorate
		img(src="/assets/img/intro-decorate.png", alt="decorate")
	.product-wrap.container-fluid
		+listProduct(list)
		.prev-btn 
			i(class="fas fa-arrow-left")
		.next-btn 
			i(class="fas fa-arrow-right")
	+dots
			
mixin addCartBtn 
	a(href="cart.html" class="btn btn-addto-cart")&attributes(attributes) ADD TO CART

mixin saleLabel 
	.item-type.position-absolute
		img(src="./assets/img/label/sale-label.png", alt="label")

mixin hotLabel 
	.item-type.position-absolute
		img(src="./assets/img/label/hot-label.png", alt="label")

mixin newLabel 
	.item-type.position-absolute
		img(src="./assets/img/label/new-label.png", alt="label")

mixin specialItem
	.special-img.col-12
		figure 
			img(src="/assets/img/special-product.jpg", alt="ruou nho")
	.special-content.col-10.d-flex.justify-content-center
		.special-thumbnail
			a.special-link.d-block(href="product-detail.html") 
				figure 
					img(src="/assets/img/special.jpg", alt="ruou nho")
				.special-label
					img(src="/assets/img/label.png", alt="label")
		.special-info
			.special-name 
				h2 RƯỢU NHO NĂM 1987
			.special-decorate 
				img(src="/assets/img/special-decorate.png", alt="decorate")
			.special-price 
				span 330.000đ
			.special-btn 
				+addCartBtn
			.special-desc 
				p Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.
			.special-time 
				.time-item.day
					span 334
					span NGÀY
				.time-item.hour
					span 26
					span GIỜ
				.time-item.minute
					span 60
					span PHÚT
				.time-item.second
					span 15
					span GIÂY

mixin subNavItem(text)
	li.header-sub-item
		a(href="products.html")= text
					
mixin userNavItem(text, state)
	li.user-item 
		case text 
			when "Giỏ hàng"
				a.user-link(href="cart.html")= text
			when "Trạng thái đơn hàng"
				a.user-link(href="orders.html")= text
			when "Đăng nhập"
				a.user-link(href="login.html")= text
			when "Đăng ký"
				a.user-link(href="signup.html")= text
			default 
				a.user-link(href="javascript:void(0)")= text

mixin dropDownList(list)
	ul.header-subnav-list
		each val in list
			+subNavItem(val)

mixin bannerItem(url, val)
	.col-lg-3.col-6 
		img(src=url, alt="banners-" + val)

mixin dots
	.dots
		.dot.active
		.dot 
		.dot

mixin newsItem(title, author, date, comments, desc, img, itemClass)
	.news-item(class= itemClass)
		a.news-img.d-block(href="news.html") 
			img(src=img, alt="news")
			div
				i(class="fas fa-link")
		h2= title
		div 
			span= 'Đăng bởi ' + author
			span= date
			span= comments + ' bình luận'
		p= desc 
		a.readmore(href="news.html") Read more 

mixin newsList(list)
	.news-list.row.g-5
		each val in list 
			+newsItem(val.title, val.author, val.date, val.comments, val.desc, val.img, val.itemClass)

mixin commentItem 
	.comment-item
		.comment-icon
			img(src="/assets/img/comment-icon.png", alt="comment-icon")
		p Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long ...
		a.readmore.d-block(href="javascript:void(0)") Read more 
		.comment-author
			.author-img 
				img(src="/assets/img/customer/customer1.jpg", alt="avatar")
			span.author-name GIANGLE
			span.author-job Graphic Design

mixin sectionHeader(header)
	.section-header 
		h2= header
	.section-decorate 
		img(src="/assets/img/special-decorate.png", alt="decorate")

mixin categoryList(list)
	ul
		each val in list
			if val.isActive 
				li.active
					i(class="fas fa-circle")
					a(href="products.html")= val.name 
					span= '(' + val.quantity + ')'
			else 
				li 
					a(href="products.html")= val.name 
					span= '(' + val.quantity + ')'

mixin breadcrumb(items) 
	nav.direction-nav 
		ul.direction-list
			each item in items
				if item.active
					li.direction-item.active 
						a(href=item.href)= item.label
				else 
					li.direction-item 
						a(href=item.href)= item.label

mixin pagination
	nav(aria-label="navigation")
		ul.pagination
			li.page-item
				a(class="page-link" href="#" aria-label="Previous")
					span(aria-hidden="true")
						i(class="fas fa-caret-left")
			li.page-item
				a(class="page-link" href="#") 1
			li.page-item
				a.active(class="page-link" href="#") 2
			li.page-item
				a(class="page-link" href="#") 3
			li.page-item
				a(class="page-link" href="#") 4
			li.page-item
				a(class="page-link" href="#") 5
			li.page-item
				a(class="page-link" href="#" aria-label="Previous")
					span(aria-hidden="true")
						i(class="fas fa-caret-right")

mixin cartItem(item)
	tr
		td.cart-img
			img(src= item.img, alt=item.name)
		td.cart-name= item.name
		td.cart-price= item.price
		td.cart-quantity= item.quantity
		td.cart-total= item.total
		td.cart-del
			i(class="far fa-trash-alt")
			
mixin cartList(list)
	each val in list 
		+cartItem(val)

mixin formGroup({ type, name, id, label, link })
	if type == "link"
		.form-group
			a(href= link)= label
	else if type == "submit"
		.form-group
			button(type="submit").btn.btn-default= label
	else if type == "textarea"
		.form-group
			label(for = id)= label
			textarea(name = name, id = id)
	else if type == "checkbox"
		.form-group
			input(type = "checkbox" name = name, id = id)
			label(for = id)= label
	else
		.form-group
			label(for = id)= label
			input(type = type, name = name, id = id)
			
mixin tabsList(list)
	ul.image-items.nav.h-100(role="tablist")
		each item in list
			if item.active
				li.image-item
					a.image-link.d-block.h-100.active(href="javascript:void(0)", id=item.id, data-bs-toggle="tab", data-bs-target='#'+ item.paneid, role="tab", aria-selected="true")
						img(src= item.img, alt= item.name)
			else 
				li.image-item
					a.image-link.d-block.h-100(href="javascript:void(0)", id=item.id data-bs-toggle="tab", data-bs-target='#'+ item.paneid, role="tab", aria-selected="false")
						img(src= item.img, alt= item.name)

mixin imagesList(list)
	each item in list 
		if item.active
			img.tab-pane.active(src= item.img, alt=item.name, role="tabpanel", id= item.id, aria-labelledby= item.tabid)
		else 
			img.tab-pane(src= item.img, alt=item.name, role="tabpanel", id= item.id, aria-labelledby= item.tabid)

mixin stars(num)
	span.stars
		each val in [1,2,3,4,5]
			if val < num
				i(class="fas fa-star")
			else if val == num 
				i(class="fas fa-star-half-alt")
			else 
				i(class="far fa-star")

mixin optionColor(list)
	.colors
		each item in list 
			if item.active 
				.color.active 
					.color-bg(class=`color-bg-${item.color}`)
			else
				.color
					.color-bg(class=`color-bg-${item.color}`)

mixin socialItem(socialName, socialLogo, socialLabel, popover)
	.social-item 
		a(href="javascript:void(0)" class=`social-logo ${socialName}`)
			i(class= socialLogo)
			if socialLabel
				span= socialLabel
		if popover 
			.social-popover= popover

mixin socialList(list)
	each item in list
		+socialItem(item.socialName, item.socialLogo, item.socialLabel, item.popover)

mixin tabPanes(list)
	ul.nav.nav-pills(role = "tablist")
		each item in list
			if item.active
				li.tab-item
					button(class= "active", id= item.tabId, data-bs-toggle= "pill", data-bs-target= `#${item.tabpaneId}`, type= "button", role="tab", aria-controls= item.tabpaneId, aria-selected= "true")= item.tabName
			else
				li.tab-item
					button(id= item.tabId, data-bs-toggle= "pill", data-bs-target= `#${item.tabpaneId}`, type= "button", role="tab", aria-controls= item.tabpaneId, aria-selected= "false")= item.tabName
	.tab-content
		each item in list
			if item.active
				.tab-pane.active(id= item.tabpaneId, role="tabpanel", aria-labelledby= item.tabId)
					if item.content
						p= item.content
			else 
				.tab-pane(id= item.tabpaneId, role="tabpanel", aria-labelledby= item.tabId)
					if item.content
						p= item.content
mixin orderNav(list)
	ul
		each val in list
			li
				a(href="javascript:void(0)")= val.state + '(' + val.quantity + ')'

mixin orderContentList(list)
	each val in list
		- const { id, code, date, store, quantity, total, state } = val
		tr 
			td
				span= id
			td.code-date
				span= code
				span= date
			td
				span= store
			td
				span= quantity
			td
				span= total 
			td
				span= state
			td Chi tiết
